@charset "utf-8";

/* --------------------------------------------------------
* 全体設定
* eirBlock
* eir年タイトル
* EIRリスト
* Year Controller
* Newstype Controller
* noDataText
* Note
* Governance
* IR Calendar
* share
* RSS
* yuhoCsv
* BoxList
* Matrix
* HTMLカレンダー
* エリアカスタマイズ用
* エリアカスタマイズ用（カテゴリアイコンあり体裁）
* -------------------------------------------------------*/


/* --------------------------------------------------------
* 全体設定
* -------------------------------------------------------*/
.eir *,
.eirTarget_zipDownload *,
.eirTarget_pdfNote *,
.eirTarget_pnexNote *,
.eirTarget_yuhoNote *,
.eirTarget_rss_59846 *,
.eirTarget_yuhoCsv_741478 *,
.eirTarget_latestFiscalYm_eirSampleArea *,
.eirTarget_latestQuarter_eirSampleArea *,
.eir_controller_year *,
.eir_controller_newstype *,
.eirTarget_calendarImg * {
    box-sizing: border-box;
}

/* --------------------------------------------------------
* eirBlock
* -------------------------------------------------------*/
.s_eirBlock {
    display: block;
}

.s_eirBlock:last-child {
    padding-bottom: 0;
}

.s_eirBlock:first-child {
    margin-top: 0;
}

.s_eirQuarterBlock {
    margin-bottom: 60px;
}

.s_eirBlock:last-child .s_eirQuarterBlock {
    margin-bottom: 0;
}

/* --------------------------------------------------------
* eir年タイトル
* -------------------------------------------------------*/
.s_eirHeading {}

.s_eirQuarter {}


/* --------------------------------------------------------
* EIRリスト
* -------------------------------------------------------*/

/*　EIRリスト > アイテム
--------------------------------------------------------*/

/* オールリンク用 */

.s_eirList_item {
    margin-bottom: 6.4vw;
}

.s_eirItem {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 8vw;
}

.s_eirList_item-pdf a.s_eirItem,
.s_eirList_item-url a.s_eirItem {
    padding-right: calc(6.4vw + 5.06vw);
}

.s_eirList_item-pdf .s_eirItem::after,
.s_eirList_item-url .s_eirItem::after {
    position: absolute;
    content: '';
    width: 5.06vw;
    top: 12.2666666667vw;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.s_eirList_item-pdf .s_eirItem::after {
    height: 6.75vw;
    background-image: url("../../images/ir/icon-pdf.svg");
}

.s_eirList_item-url .s_eirItem::after {
    height: 3.73vw;
    background-image: url("../img/filetype_icon/icon-arrow.svg");
}

a.s_eirItem:hover .s_eirModule_date,
a.s_eirItem:hover .s_eirModule_category,
a.s_eirItem:hover .s_eirModule_titleBox {
    transform: translateX(4px);
}

a.s_eirItem:hover .s_eirModule_titleBox {
    color: var(--color-accent);
}

.eirItem_child a.s_eirItem:hover .s_eirModule_titleBox::before {
    background: var(--color-accent);
}


@media (min-width: 768px) {
    .s_eirList_item {
        margin-bottom: 2.4rem;
    }

    a.s_eirList_item {
        padding-right: calc(2.4rem + 1.9rem);
    }

    .s_eirList_item-pdf .s_eirItem::after,
    .s_eirList_item-url .s_eirItem::after {
        width: 1.9rem;
        top: auto;
    }

    .s_eirList_item-pdf .s_eirItem::after {
        height: 2.5rem;
        top: auto;
        bottom: 2.4rem;
    }

    .s_eirList_item-url .s_eirItem::after {
        height: 1.4rem;
        bottom: 2.6rem;
    }

    .s_eirItem {
        padding-bottom: 2.4rem;
    }

}



/* テキストリンク用 */
/*.s_eirList_item {
	display: flex;
	margin-top:20px;
	padding-top:20px;
	border-top: 1px solid #CCC;
}
.s_eirList_item:first-child {
	margin-top:0;
	border:0;
}
.s_eirList_item {
	display: flex;
}
.s_eirModule_eirItem > * {
	margin-left: 20px;
}
.s_eirModule_eirItem > *:first-child {
	margin-left: 0;
}
.s_eirList_item-all_link {
	display: block;
}*/



/*　EIRリスト > アイテム（訂正）
--------------------------------------------------------*/

.eirItem_child {
    border-top: 0;
    margin-top: 0;
}

.eirItem_child .eirItem_head {
    visibility: hidden;
    height: 0;
    margin-bottom: 0;
}

.eirItem_child .s_eirModule_titleBox {
    position: relative;
    padding-left: 7vw;
}

.eirItem_child .s_eirModule_titleBox::before {
    content: "";
    display: inline-block;
    width: 4vw;
    height: 1px;
    background: #333;
    position: absolute;
    top: 3.4vw;
    left: 0;
}

@media screen and (min-width: 768px) {
    .eirItem_child .eirItem_head {
        display: none;
    }

    .eirItem_child .s_eirModule_titleBox {
        margin-left: 0;
    }

    .eirItem_child .s_eirModule_titleBox {
        margin-top: 0;
    }

    .eirItem_child .s_eirItem::after {
        top: auto;
    }

    .eirItem_child .s_eirModule_titleBox {
        padding-left: 2.5rem;
    }

    .eirItem_child .s_eirModule_titleBox::before {
        width: 1.6rem;
        height: 1px;
        top: 1.4rem;
        transition-property: background;
        transition-duration: 320ms;
    }
}




/*　EIRリスト > アイテム　付与クラス一覧
--------------------------------------------------------*/
/* 
.cat-news-tanshin,
.cat-news-yuho,
.cat-news-press,
.cat-news-pr,
.cat-news-announcement,
.cat-news-ir_material,
.cat-news-ir_material_for_fiscal_ym,
.cat-news-cgr_ds,
.cat-news-cgr_do,
.cat-news-gms,
.cat-news-custom_type {
} 
.cat-sub-announcement,
.cat-sub-ir_material,
.cat-sub-ir_material_for_fiscal_ym,
.cat-sub-custom_type1,
.cat-sub-id0 {
} 
.cat-num-1,
.cat-num-2,
.cat-num-3,
.cat-num-4 {
}
.s_eirList_item-url,
.s_eirList_item-pdf,
.s_eirList_item-xlsx,
.s_eirList_item-xls,
.s_eirList_item-docx,
.s_eirList_item-doc,
.s_eirList_item-pptx,
.s_eirList_item-ppt,
.s_eirList_item-zip,
.s_eirList_item-space {
}
.s_eirList_item-q_100,
.s_eirList_item-q_30,
.s_eirList_item-q_20,
.s_eirList_item-q_10,
.s_eirList_item-q_0 {
}
.s_eirList_item-thum_true,
.s_eirList_item-thum_false {
}
*/


/*　EIRリスト > 日付
--------------------------------------------------------*/
.s_eirModule_date {
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 4.2666666667vw;
    transition-property: transform, color;
    transition-duration: 320ms;
}

.s_eirModule_date_time {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 4vw;
    margin-right: 1em;
}

@media (min-width: 768px) {
    .s_eirModule_date {
        margin-bottom: 2rem;
    }

    .s_eirModule_date_time {
        font-size: 1.5rem;
    }
}


/*　EIRリスト > サムネイル
--------------------------------------------------------*/
.s_eirModule_thumbnail {
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

.s_eirModule_thumbnail_img {
    width: 100%;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
}


/*　EIRリスト > カテゴリアイコン
--------------------------------------------------------*/
.s_eirModule_category {
    display: inline-block;
    transition-property: transform, color;
    transition-duration: 320ms;
}

.s_eirModule_category_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid var(--color-darkgray);
    color: var(--color-darkgray);
    flex-shrink: 0;
    font-size: 2.9333333333vw;
    height: 6.4vw;
    border-radius: 3.2vw;
}

@media (min-width: 768px) {
    .s_eirModule_category_icon {
        height: 2.4rem;
        border-radius: 1.2rem;
        font-size: 1.1rem;
    }
}


/*　EIRリスト > カテゴリアイコン（画像）
--------------------------------------------------------*/
.s_eirModule_category_image {
    display: none;
}


/*　EIRリスト > タイトルBOX
--------------------------------------------------------*/
.s_eirModule_titleBox {
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 3.7333333333vw;
    line-height: 2;
    width: 100%;
    transition-property: transform, color;
    transition-duration: 320ms;
}

@media (min-width: 768px) {
    .s_eirModule_titleBox {
        font-size: 1.5rem;
    }
}


/*　EIRリスト > タイトル（書類名）
--------------------------------------------------------*/
.s_eirModule_title {
    display: inline;
}

.s_eirModule_title_link {}

.eirItem_title_text {}

.s_eirModule_title_label {}


/*　EIRリスト > 固定文言
--------------------------------------------------------*/
.s_eirModule_title_static {
    display: inline;
    /*display: none;*/
}

.s_eirModule_title_static::before {
    content: '';
    display: inline;
}


/*　EIRリスト > アイテムタイプアイコン
--------------------------------------------------------*/
.s_eirModule_type {}

/* CSSアイコン */
.s_eirModule_type_icon {
    display: none;
}

.s_eirModule_type_figure {
    display: none;
}

/* 画像アイコン */
/*.s_eirModule_type_icon {
    display: none;
}
.s_eirModule_type_figure {
    display:inline-block;
}*/

.s_eirModule_type_icon {
    vertical-align: middle;
    padding: 0px 10px;
    margin-left: 5px;
    line-height: 15px;
    color: #FFF;
    font-size: 10px;
}


/*　EIRリスト > アイテムタイプアイコン（CSS）
--------------------------------------------------------*/
.s_eirModule_type_icon-pdf {
    background-color: #ee3d23;
}

.s_eirModule_type_icon-url {
    background-color: #2196F3;
    display: none;
}

.s_eirModule_type_icon-doc,
.s_eirModule_type_icon-docx {
    background-color: #3F51B5;
    display: none;
}

.s_eirModule_type_icon-xls,
.s_eirModule_type_icon-xlsx {
    background-color: #4CAF50;
    display: none;
}

.s_eirModule_type_icon-ppt,
.s_eirModule_type_icon-pptx {
    background-color: #FF5722;
    display: none;
}

.s_eirModule_type_icon-zip {
    background-color: #607D8B;
    display: none;
}

.s_eirModule_type_icon-space {
    display: none;
}


/*　EIRリスト > アイテムタイプアイコン（画像）
--------------------------------------------------------*/
.s_eirModule_type_figure {}

.s_eirModule_type_figure_image {
    height: 15px;
    vertical-align: middle;
    margin-right: 5px;
}

.s_eirModule_type_figure_image-url,
.s_eirModule_type_figure_image-doc,
.s_eirModule_type_figure_image-docx,
.s_eirModule_type_figure_image-xls,
.s_eirModule_type_figure_image-xlsx,
.s_eirModule_type_figure_image-ppt,
.s_eirModule_type_figure_image-pptx,
.s_eirModule_type_figure_image-zip,
.s_eirModule_type_figure_image-space {
    display: none;
}


/*　EIRリスト > サイズ表示（KB）
--------------------------------------------------------*/
.s_eirModule_size {}

.s_eirModule_size_item {
    /*display: inline-block;*/
}



/*　EIRリスト > ページ数
--------------------------------------------------------*/
.s_eirModule_page_num {}


/*　EIRリスト > NEWアイコン
--------------------------------------------------------*/
.s_eirModule_new {
    line-height: 15px;
}

.s_eirModule_new_icon {
    display: inline-block;
    background-color: #F90;
    vertical-align: middle;
    padding: 0px 10px;
    line-height: 15px;
    color: #FFF;
    font-size: 10px;
    position: relative;
    top: -.5vw;
}

@media (min-width: 768px) {
    .s_eirModule_new_icon {
        top: -1px;
    }
}


/*　EIRリスト > NEWアイコン（画像）
--------------------------------------------------------*/
.s_eirModule_new_image {
    display: none;
}

/*　EIRリスト > テキスト
--------------------------------------------------------*/
.s_eirModule_text {}


/*　EIRリスト > コメント
--------------------------------------------------------*/
.s_eirModule_comment {
    font-size: 3vw;
    margin-top: 1.5vw;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .s_eirModule_comment {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
}


/*　基本パターン（タイトルBOX内を表示）
--------------------------------------------------------*/
.s_titleBox_type,
.s_titleBox_size,
.s_titleBox_page_num,
.s_titleBox_new {
    display: inline;
}

.s_titleBox_text,
.s_titleBox_comment {
    display: block;
}

.s_titleBox_title_link_static,
.s_titleBox_title_text_static {
    display: none;
}

.s_eirList_item_type,
.s_eirList_item_size,
.s_eirList_item_page_num,
.s_eirList_item_new,
.s_eirList_item_text,
.s_eirList_item_comment {
    display: none;
}


/* EIRリスト > 表示順変更
* -------------------------------------------------------*/
.s_eirList_item_date {
    order: 1;
}

.s_eirList_item_thumbnail {
    order: 2;
}

.s_eirList_item_category {
    order: 3;
}

.s_eirList_item_category_second {
    order: 4;
}

.s_eirList_item_titleBox {
    order: 5;
}

.s_eirList_item_type {
    order: 6;
}

.s_eirList_item_size {
    order: 7;
}

.s_eirList_item_page_num {
    order: 8;
}

.s_eirList_item_new {
    order: 9;
}

.s_eirList_item_text {
    order: 10;
}

.s_eirList_item_comment {
    order: 11;
}

/* --------------------------------------------------------
* Year Controller
* -------------------------------------------------------*/

/* プルダウン
* -------------------------------------------------------*/
.s_yearController {
    margin-bottom: 10.6666666667vw;
}

.s_eirSelect {
    max-width: 100%;
    appearance: none;
    display: block;
    border: 1px solid var(--color-gray);
    margin-left: 0;
    min-width: 55.4666666667vw;
    height: 11.2vw;
    font-size: 3.2vw;
    padding-left: 1em;
    background-image: url("../img/icon-angle.svg");
    background-position: right 2.6666666667vw center;
    background-size: 2.6666666667vw auto;
    transition-property: border-color;
    transition-duration: 320ms;
    color: #333;
    outline: none;
}

.s_eirSelect:focus {
    border-color: var(--color-accent);
}

@media (min-width: 768px) {
    .s_yearController {
        margin-bottom: 4rem;
    }

    .s_eirSelect {
        margin-left: auto;
        min-width: 25rem;
        height: 4.8rem;
        font-size: 1.4rem;
        background-position: right 1.2rem center;
        background-size: auto 0.8rem;
    }
}


/* アンカー
* -------------------------------------------------------*/
.s_eirAnchor {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.s_eirAnchor li {
    margin-right: 20px;
}

.s_eirAnchor li:last-child {
    margin-right: 0;
}

.s_eirAnchor a:before {
    display: inline-block;
    content: "";
    border: 5px solid transparent;
    border-top: 5px solid #333;
    margin-right: 5px;
}

@media screen and (max-width: 767px) {
    .s_eirAnchor {
        width: 100%;
        justify-content: space-between;
    }

    .s_eirAnchor li {
        width: 20%;
        margin-right: 0;
        margin-top: 2%;
    }

    .s_eirAnchor li a {
        width: auto;
    }
}


/* --------------------------------------------------------
* Newstype Controller
* -------------------------------------------------------*/
.s_newsTypeController {
    margin-bottom: 30px;
}

.s_eirTab {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.s_eirTab li {
    width: 100%;
    border: 2px solid #333;
    background-color: #FFF;
}

.s_eirTab li+li {
    border-left-width: 0;
}

.s_eirTab li:last-child {
    margin-right: 0;
}

.s_eirTab li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    color: #333;
    text-align: center;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.s_eirTab li.active a,
.s_eirTab li:hover a {
    color: #FFF;
    background-color: #333;
}

@media screen and (max-width: 767px) {
    .s_eirTab {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .s_eirTab li {
        width: 49%;
        /* margin-right:0; */
        margin-top: 2%;
        border-left-width: 2px;
    }

    .s_eirTab li+li {
        border-left-width: 2px;
    }

    .s_eirTab li a {
        width: auto;
    }
}

/* --------------------------------------------------------
* noDataText
* -------------------------------------------------------*/
.noDataText {
    margin-top: 30px;
    display: inline-block;
}

/* --------------------------------------------------------
* Note
* -------------------------------------------------------*/
.eir_pdfNote_item,
.eir_pnexNote_item,
.eir_yuhoNote_item {}

.eir_pdfNote img,
.eir_pnexNote img {
    width: auto;
}

/* PDF注記
* -------------------------------------------------------*/
.eir_pdfNote {
    /*margin-top: 30px;*/
}

.eir_pdfNote {
    display: flex;
    flex-direction: column;
    row-gap: 5.3333333333vw;
}

.eir_pdfNote_item {
    font-size: 3.2vw;
    color: var(--color-darkgray);
    line-height: 1.61;
}

.eir_pdfNote_item:first-child {
    margin-left: 0;
}

@media (min-width: 768px) {
    .eir_pdfNote {
        flex-direction: row;
        column-gap: 1.6rem;
    }

    .eir_pdfNote_item {
        font-size: 1.3rem;
    }
}

/* PNEX注記
* -------------------------------------------------------*/
.eir_pnexNote,
.eirTarget_pnexNote {
    margin-top: 8.5333333333vw;
    font-size: 3.2vw;
    color: var(--color-darkgray);
    line-height: 1.61;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2.6666666667vw;
}

.eir_pnexNote_item-right {
    text-align: right;
}

@media (min-width: 768px) {

    .eir_pnexNote,
    .eirTarget_pnexNote {
        font-size: 1.3rem;
        margin-top: 4rem;
        row-gap: 1rem;
    }

}

/* 外部リンクアイコン*/
.eir_pnexNote_item:first-of-type a[target="_blank"] {
    color: var(--color-dark);
    text-decoration: underline;
}

.eir_pnexNote_item:first-of-type a[target="_blank"] {
    transition-property: opacity;
    transition-duration: 320ms;
}

.eir_pnexNote_item:first-of-type a[target="_blank"]:hover {
    opacity: .64;
}


/* 有報注記
* -------------------------------------------------------*/
.eir_yuhoNote {
    margin-top: 8.5333333333vw;
    font-size: 3.2vw;
    color: var(--color-darkgray);
    line-height: 1.61;
}

@media (min-width: 768px) {
    .eir_yuhoNote {
        margin-top: 4rem;
        font-size: 1.3rem;
    }
}



/* --------------------------------------------------------
* Governance
* -------------------------------------------------------*/
.eir[class*="area_governance"] .s_eirList_item {
    display: block;
    text-align: right;
    margin-bottom: 40px;
    /*資料無しの場合消えるアキ*/
}

.eir[class*="area_governance"] .noDataText {
    display: none;
}

.eir[class*="area_governance"] .s_eirModule_titleBox {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .eir[class*="area_governance"] .s_eirList_item {
        text-align: left;
    }
}

/* --------------------------------------------------------
* IR Calendar
* -------------------------------------------------------*/
.eirCalendar_figure {
    display: flex;
    justify-content: center;
    ;
    padding: 0;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.eirCalendar_image:nth-child(2) {
    margin-left: 2px;
}

.eirCalendarNote {
    margin-top: 30px;
}

.eirCalendar_image {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .eirCalendar_figure {
        flex-direction: column;
        max-width: 424px;
        width: 100%;
    }

    .eirCalendar_image {
        width: 100%;
    }

    .eirCalendar_image:nth-child(2) {
        margin-left: 0;
    }
}


/* --------------------------------------------------------
* share
* -------------------------------------------------------*/
.s_eir_MoreBtn_link a {
    background-color: #FFF;
    border: 2px solid #333;
    color: #333;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    margin-top: 30px;
    display: block;
}

.s_eir_MoreBtn_link a:hover {
    color: #FFF;
    background-color: #333;
    text-decoration: none;
}


/* --------------------------------------------------------
* RSS
* -------------------------------------------------------*/
.eir_rss {
    text-align: right;
}

.eir_rss_image {
    width: 16px;
}


/* --------------------------------------------------------
* yuhoCsv
* -------------------------------------------------------*/
.eir_yuhoCsv_item {
    margin-top: 20px;
}

.eir_yuhoCsv_item:first-child {
    margin-top: 0;
}

.eir_yuhoCsv_item_link {
    display: block;
    width: 250px;
    background-color: #FFF;
    padding: 15px;
    border: 1px solid #333;
    color: #333;
    text-align: center;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.eir_yuhoCsv_item_link:hover {
    color: #FFF;
    background-color: #333;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .eir_yuhoCsv_item_link {
        width: 100%;
    }
}


/* --------------------------------------------------------
* BoxList
* -------------------------------------------------------*/
.s_eirBoxList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.s_eirBoxList_item {
    width: 33.3%;
    /*★並べる数を変更する場合％変更*/
    border-left: #e8e8e8 solid 1px;
    border-bottom: #e8e8e8 solid 1px;
    padding: 20px;
}

.s_eirBoxList_item:nth-child(-n+3) {
    border-top: #e8e8e8 solid 1px;
}

.s_eirBoxList_item:nth-child(3n),
.s_eirBoxList_item:last-child {
    /*★並べる数を変更する場合(n)変更*/
    border-right: #e8e8e8 solid 1px;
}

.s_eirBoxList_item_inner {
    width: 100%;
    height: auto;
    position: relative;
}

/* BoxList > ヘッダー */
.s_eirBoxList_head::after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}

/* BoxList > ヘッダー > カテゴリアイコン */
.s_eirBoxList_head_categoryWrap {
    padding-bottom: 6px;
    margin-right: 4px;
    float: left;
}

.s_eirBoxList_head_categoryWrap::after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}

.s_eirBoxList_head_category_icon {
    margin: 0;
    display: block;
    float: left;
    width: 70px;
}

.s_eirBoxList_head_category_icon+.s_eirBoxList_head_category_icon {
    margin-left: 4px;
}

.s_eirBoxList_head_category_icon .s_eirModule_category_icon,
.s_eirBoxList_head_category_icon .s_eirModule_category_image {
    width: 100%;
}

/* BoxList > ヘッダー > 日付 */
.s_eirBoxList_head_dataWrap {
    float: right;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 6px;
}

.s_eirBoxList_head_dataWrap::after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
}

.s_eirBoxList_head_new {
    display: block;
    align-self: center;
    padding: 1px;
    text-align: center;
    margin-top: -2px;
}

.s_eirBoxList_head_date {
    display: block;
    align-self: center;
    margin-left: 5px;
}

/* BoxList > ボディ */
.s_eirBoxList_item_body {
    margin-top: 8px;
}

.s_eirBoxList_body_item {}

/* BoxList > ボディ > テキスト部分 */
.s_eirBoxList_body_textWrap {}

.s_eirBoxList_body_title {}

.s_eirBoxList_body_titleWrap {
    margin: 0;
    display: inline;
    word-break: break-all;
}

.s_eirBoxList_body_title_link {
    text-decoration: none;
}

.s_eirBoxList_body_title_link:hover {
    text-decoration: underline;
}

.s_eirBoxList_body_title_link_static,
.s_eirBoxList_body_title_text_static {
    display: none;
}

.s_eirBoxList_body_title_type {
    display: inline;
}

.s_eirBoxList_body_title_size {
    display: inline;
}

.s_eirBoxList_body_title_page {
    display: inline;
}

.eirUseText.s_eirBoxList_body_useText {
    margin-top: 6px;
    background: none;
}

.s_eirBoxList_body_comment {
    margin-top: 6px;
    font-size: 80%;
}

/* BoxList > ボディ > サムネイル部分 */
.s_eirBoxList_body_thumbWrap {
    margin: 0;
    padding: 0;
    width: 120px;
    float: right;
    /*★表示位置逆にする場合L⇔R変更*/
    margin-left: 10px;
    /*★表示位置逆にする場合L⇔R変更*/
}

.s_eirBoxList_body_thumb_img {
    width: 100%;
}

/* BoxList > 訂正・追加書類 */
.s_eirBoxList_item_inner-child {
    margin-top: 20px;
    padding-top: 12px;
    border-top: #e8e8e8 solid 1px;
}

.s_eirBoxList_item_inner-child .s_eirBoxList_head {
    display: none;
}

.s_eirBoxList_item_inner-child .s_eirBoxList_body_new {
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .s_eirBoxList {
        display: block;
    }

    .s_eirBoxList::after {
        display: none;
    }

    .s_eirBoxList_item {
        width: 100%;
        padding: 20px;
        border-right: #e8e8e8 solid 1px;
    }

    .s_eirBoxList_item:nth-child(-n+3) {
        border-top: none;
    }

    .s_eirBoxList_item:first-child {
        border-top: #e8e8e8 solid 1px;
    }

    /* BoxList > ボディ > サムネイル部分 */
    .s_eirBoxList_body_thumbWrap {
        width: 100px;
    }
}


/* --------------------------------------------------------
* Matrix
* -------------------------------------------------------*/
.s_eirMatrix_table {
    border-collapse: collapse;
    width: 100%;
}

.s_eirMatrix_th,
.s_eirMatrix_td {
    width: 20%;
    padding: 10px;
    border-style: solid;
    border-color: #d9d9d9;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.s_eirMatrix_th {
    background-color: #eee;
}

@media screen and (max-width: 767px) {
    .s_eirMatrix_table {
        width: 100%;
    }

    .s_eirMatrix_th,
    .s_eirMatrix_td {
        word-break: break-all;
    }
}

.eir-pager {
    letter-spacing: -0.5em;
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.eir-pager .pagination {
    margin: 0;
}

.eir-pager span {
    display: inline-block;
    letter-spacing: normal;
    margin-right: 10px;
    margin-top: 5px;
}

.eir-pager span a {
    border: 1px solid #333;
    color: #333;
    display: inline-block;
    padding: 5px 10px;
}

.eir-pager span.current {
    border: 1px solid #eee;
    color: #eee;
    padding: 5px 10px;
}

.s_eirList_item_date_hidden {
    visibility: hidden;
}

.eirAccordionTrigger {
    background-image: none;
    cursor: pointer;
    padding: 5px;
    background-color: #2a855c;
    color: #FFF;
    position: relative;
    margin: 0;
}

.eirAccordionTrigger::after {
    content: "＋";
    display: block;
    position: absolute;
    top: 2px;
    right: 10px;
}

.eirAccordionTrigger-open::after {
    content: "－";
}

.eirAccordionWrapper {
    display: none;
}

.eirAccordionWrapper-open {
    display: block;
}


/* --------------------------------------------------------
* HTMLカレンダー
* -------------------------------------------------------*/
.eir-calendar .eirHeading.s_eirHeading {
    text-align: center;
    font-size: 24px;
    padding: 12px 0;
    letter-spacing: 1px;
    background-color: #00519C;
    color: #fff;
    margin-bottom: 0;
}

.eir-calendar .inner {
    position: relative;
}

.eirCalendarTable {
    table-layout: fixed;
    border-collapse: collapse;
    width: calc(100% + 2px);
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
}

.eirCalendarTable thead th {
    padding: 2px 0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border: 1px solid #e5e5e5;
    font-weight: 400;
}

.eirCalendarTable td {
    background: #999999;
    vertical-align: top;
    text-align: center;
    color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 196px;
}

.eirCalendar_label {
    display: table;
    width: 86%;
    margin: 24px auto 0;
}

.eirCalendar_label span {
    display: table-cell;
    height: 57px;
    vertical-align: middle;
    /* background: #fff; */
    color: #fff;
    line-height: 1.3;
}

.eirCalendar_year {
    text-align: center;
    margin: 7px 0 0;
    font-size: 13px;
    display: none;
}

.eirCalendar_month {
    font-size: 20px;
    margin: 25px 0 0;
    text-indent: 10px;
    line-height: 1;
}

/* .eirCalendar_year+.eirCalendar_month {
    margin-top: 0;
} */

.eirCalendar_month span {
    font-size: 30px;
    margin: 0 3px 0 0;
}

@media screen and (max-width: 767px) {
    .eir-calendar .inner {
        overflow-x: auto;
    }

    .eir-calendar .scroll-container {
        width: calc(200% + 1px);
    }

    .eirCalendarTable td {
        height: 140px;
    }

    .eirCalendar_month span {
        font-size: 23px;
    }

    .eirCalendar_month {
        margin-top: 28px;
    }
}


/* --------------------------------------------------------
* エリアカスタマイズ用
* -------------------------------------------------------*/

.eir_area_area_yuho_005 .s_eirList_item-pdf .s_eirItem::after,
.eir_area_area_yuho_005 .s_eirList_item-url .s_eirItem::after {
    top: 1.5vw;
}

.eir_area_area_top_001 .s_eirList_item-pdf .s_eirItem::after,
.eir_area_area_top_001.s_eirList_item-url .s_eirItem::after {
    width: 4vw;
}

.eir_area_area_top_001 .s_eirList_item-pdf .s_eirItem::after {
    height: 5.33vw;
}

.eir_area_area_top_001.s_eirList_item-url .s_eirItem::after {
    height: 2.95vw;
}

@media (min-width: 768px) {
    .eir_area_area_yuho_005 .s_eirList_item-pdf .s_eirItem::after {
        bottom: 2.4rem;
        top: auto;
    }

    .eir_area_area_yuho_005 .s_eirList_item-url .s_eirItem::after {
        bottom: 2.7rem;
        top: auto;
    }

    .eir_area_area_top_001 .s_eirList_item-pdf .s_eirItem::after,
    .eir_area_area_top_001.s_eirList_item-url .s_eirItem::after {
        width: 1.5rem;
    }

    .eir_area_area_top_001 .s_eirList_item-pdf .s_eirItem::after {
        height: 2rem;
    }

    .eir_area_area_top_001.s_eirList_item-url .s_eirItem::after {
        height: 1.11vw;
    }
}





/* --------------------------------------------------------
* エリアカスタマイズ用（カテゴリアイコンあり体裁）
* -------------------------------------------------------*/
/*
.エリアclass .s_eirModule_titleBox {
    日付 +　余白 + カテゴリアイコン + 余白
    width: calc(100% - (6rem + 20px + 100px + 20px));
}

@media screen and (max-width: 767px) {
    .エリアclass .s_eirModule_titleBox {
        width: 100%;
    }
}
*/