/* ----------------------------------------

- display

---------------------------------------- */

/* ----------------------------------------

- display

---------------------------------------- */
.pcNone {
    display: none;
}

.spNone {
    display: block;
}

.dspBlock {
    display: block !important;
}

.dspNone {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .pcNone {
        display: block;
    }

    .spNone {
        display: none;
    }

    .dspBlock-sp {
        display: block !important;
    }

}

/* ----------------------------------------

- text-align

---------------------------------------- */

.taC {
    text-align: center !important;
}

.taR {
    text-align: right !important;
}

.taL {
    text-align: left !important;
}

.taJ {
    text-align: justify !important;
}

@media screen and (max-width: 767px) {
    .taC-sp {
        text-align: center !important;
    }

    .taR-sp {
        text-align: right !important;
    }

    .taL-sp {
        text-align: left !important;
    }

    .taJ-sp {
        text-align: justify !important;
    }
}




/* ----------------------------------------

- font size

---------------------------------------- */

.fs12 {
    font-size: 12px !important;
}

.fs13 {
    font-size: 13px !important;
}

.fs14 {
    font-size: 14px !important;
}

.fs15 {
    font-size: 15px !important;
}

.fs16 {
    font-size: 16px !important;
}

.fs18 {
    font-size: 18px !important;
}

.fs20 {
    font-size: 20px !important;
}

.fs22 {
    font-size: 22px !important;
}

.fs24 {
    font-size: 24px !important;
}

.fs26 {
    font-size: 26px !important;
}

.fs28 {
    font-size: 28px !important;
}

.fs32 {
    font-size: 32px !important;
}

.fs30 {
    font-size: 30px !important;
}

.fs36 {
    font-size: 36px !important;
}

.fs40 {
    font-size: 40px !important;
}

.fs48 {
    font-size: 48px !important;
}

.fs52 {
    font-size: 52px !important;
}

.fs56 {
    font-size: 56px !important;
}

.fs60 {
    font-size: 60px !important;
}

.fs64 {
    font-size: 64px !important;
}

.fs50p {
    font-size: 50% !important;
}

.fs80p {
    font-size: 80% !important;
}

.fs85p {
    font-size: 85% !important;
}

.fs90p {
    font-size: 90% !important;
}

.fs95p {
    font-size: 95% !important;
}

@media screen and (max-width: 767px) {

    .fs10-sp {
        font-size: 10px !important;
    }

    .fs12-sp {
        font-size: 12px !important;
    }

    .fs13-sp {
        font-size: 13px !important;
    }

    .fs14-sp {
        font-size: 14px !important;
    }

    .fs15-sp {
        font-size: 15px !important;
    }

    .fs16-sp {
        font-size: 16px !important;
    }

    .fs18-sp {
        font-size: 18px !important;
    }

    .fs20-sp {
        font-size: 20px !important;
    }

    .fs22-sp {
        font-size: 22px !important;
    }

    .fs24-sp {
        font-size: 24px !important;
    }

    .fs26-sp {
        font-size: 26px !important;
    }

    .fs28-sp {
        font-size: 28px !important;
    }

    .fs32-sp {
        font-size: 32px !important;
    }

    .fs30-sp {
        font-size: 30px !important;
    }

    .fs36-sp {
        font-size: 36px !important;
    }

    .fs40-sp {
        font-size: 40px !important;
    }

    .fs48-sp {
        font-size: 48px !important;
    }

}



/* ----------------------------------------

- font-weight

---------------------------------------- */

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw700 {
    font-weight: 700 !important;
}

/* ----------------------------------------

- line-height

---------------------------------------- */
.lh0 {
    line-height: 0 !important;

}

.lh12 {
    line-height: 1.2 !important;
}

.lh13 {
    line-height: 1.3 !important;
}

.lh14 {
    line-height: 1.4 !important;
}

.lh15 {
    line-height: 1.5 !important;
}

.lh16 {
    line-height: 1.6 !important;
}

.lh17 {
    line-height: 1.7 !important;
}

.lh18 {
    line-height: 1.8 !important;
}

.lh20 {
    line-height: 2 !important;
}

.lh22 {
    line-height: 2.2 !important;
}


@media screen and (max-width: 767px) {
    .lh12-sp {
        line-height: 1.2 !important;
    }

    .lh14-sp {
        line-height: 1.4 !important;
    }

    .lh15-sp {
        line-height: 1.5 !important;
    }

    .lh17-sp {
        line-height: 1.7 !important;
    }
}


/* ----------------------------------------

- letter-spacing

---------------------------------------- */
.ls001 {
    letter-spacing: 0.01em !important;
}

.ls002 {
    letter-spacing: 0.02em !important;
}

.ls003 {
    letter-spacing: 0.03em !important;
}

.ls004 {
    letter-spacing: 0.04em !important;
}

.ls005 {
    letter-spacing: 0.05em !important;
}

.ls006 {
    letter-spacing: 0.06em !important;
}

.ls007 {
    letter-spacing: 0.07em !important;
}

.ls008 {
    letter-spacing: 0.08em !important;
}

.ls009 {
    letter-spacing: 0.09em !important;
}

.ls01 {
    letter-spacing: 0.1em !important;
}

.ls015 {
    letter-spacing: 0.15em !important;
}

.ls02 {
    letter-spacing: 0.2em !important;
}

.ls025 {
    letter-spacing: 0.25em !important;
}

/* ----------------------------------------

- padding

---------------------------------------- */


/* padding-top
---------------------------------------- */

.pt0 {
    padding-top: 0 !important;
}

.pt4 {
    padding-top: 4px !important;
}

.pt8 {
    padding-top: 8px !important;
}

.pt12 {
    padding-top: 12px !important;
}

.pt16 {
    padding-top: 16px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt24 {
    padding-top: 24px !important;
}

.pt28 {
    padding-top: 28px !important;
}

.pt32 {
    padding-top: 32px !important;
}

.pt36 {
    padding-top: 36px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt44 {
    padding-top: 44px !important;
}

.pt48 {
    padding-top: 48px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pt52 {
    padding-top: 52px !important;
}

.pt56 {
    padding-top: 56px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.pt64 {
    padding-top: 64px !important;
}

.pt68 {
    padding-top: 68px !important;
}

.pt72 {
    padding-top: 72px !important;
}

.pt76 {
    padding-top: 76px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pt100 {
    padding-top: 100px !important;
}

.pt120 {
    padding-top: 120px !important;
}

.pt150 {
    padding-top: 150px !important;
}

.pt200 {
    padding-top: 200px !important;
}

.pt250 {
    padding-top: 250px !important;
}

@media screen and (max-width: 767px) {

    .pt0-sp {
        padding-top: 0 !important;
    }

    .pt4-sp {
        padding-top: 4px !important;
    }

    .pt8-sp {
        padding-top: 8px !important;
    }

    .pt12-sp {
        padding-top: 12px !important;
    }

    .pt16-sp {
        padding-top: 16px !important;
    }

    .pt20-sp {
        padding-top: 20px !important;
    }

    .pt24-sp {
        padding-top: 24px !important;
    }

    .pt28-sp {
        padding-top: 28px !important;
    }

    .pt32-sp {
        padding-top: 32px !important;
    }

    .pt36-sp {
        padding-top: 36px !important;
    }

    .pt40-sp {
        padding-top: 40px !important;
    }

    .pt44-sp {
        padding-top: 44px !important;
    }

    .pt48-sp {
        padding-top: 48px !important;
    }

    .pt50-sp {
        padding-top: 50px !important;
    }

    .pt52-sp {
        padding-top: 52px !important;
    }

    .pt56-sp {
        padding-top: 56px !important;
    }

    .pt60-sp {
        padding-top: 60px !important;
    }

    .pt64-sp {
        padding-top: 64px !important;
    }

    .pt68-sp {
        padding-top: 68px !important;
    }

    .pt72-sp {
        padding-top: 72px !important;
    }

    .pt76-sp {
        padding-top: 76px !important;
    }

    .pt80-sp {
        padding-top: 80px !important;
    }

    .pt100-sp {
        padding-top: 100px !important;
    }
}

/* padding-bottom
---------------------------------------- */
.pb0 {
    padding-bottom: 0 !important;
}

.pb4 {
    padding-bottom: 4px !important;
}

.pb8 {
    padding-bottom: 8px !important;
}

.pb12 {
    padding-bottom: 12px !important;
}

.pb16 {
    padding-bottom: 16px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb24 {
    padding-bottom: 24px !important;
}

.pb28 {
    padding-bottom: 28px !important;
}

.pb32 {
    padding-bottom: 32px !important;
}

.pb36 {
    padding-bottom: 36px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb44 {
    padding-bottom: 44px !important;
}

.pb48 {
    padding-bottom: 48px !important;
}

.pb52 {
    padding-bottom: 52px !important;
}

.pb56 {
    padding-bottom: 56px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pb64 {
    padding-bottom: 64px !important;
}

.pb68 {
    padding-bottom: 68px !important;
}

.pb72 {
    padding-bottom: 72px !important;
}

.pb76 {
    padding-bottom: 76px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}

.pb120 {
    padding-bottom: 120px !important;
}

.pb150 {
    padding-bottom: 150px !important;
}

.pb200 {
    padding-bottom: 200px !important;
}

.pb250 {
    padding-bottom: 250px !important;
}


@media screen and (max-width: 767px) {

    .pb0-sp {
        padding-bottom: 0 !important;
    }

    .pb4-sp {
        padding-bottom: 4px !important;
    }

    .pb8-sp {
        padding-bottom: 8px !important;
    }

    .pb12-sp {
        padding-bottom: 12px !important;
    }

    .pb16-sp {
        padding-bottom: 16px !important;
    }

    .pb20-sp {
        padding-bottom: 20px !important;
    }

    .pb24-sp {
        padding-bottom: 24px !important;
    }

    .pb28-sp {
        padding-bottom: 28px !important;
    }

    .pb32-sp {
        padding-bottom: 32px !important;
    }

    .pb36-sp {
        padding-bottom: 36px !important;
    }

    .pb40-sp {
        padding-bottom: 40px !important;
    }

    .pb44-sp {
        padding-bottom: 44px !important;
    }

    .pb48-sp {
        padding-bottom: 48px !important;
    }

    .pb50-sp {
        padding-bottom: 50px !important;
    }

    .pb52-sp {
        padding-bottom: 52px !important;
    }

    .pb56-sp {
        padding-bottom: 56px !important;
    }

    .pb60-sp {
        padding-bottom: 60px !important;
    }

    .pb64-sp {
        padding-bottom: 64px !important;
    }

    .pb68-sp {
        padding-bottom: 68px !important;
    }

    .pb72-sp {
        padding-bottom: 72px !important;
    }

    .pb76-sp {
        padding-bottom: 76px !important;
    }

    .pb80-sp {
        padding-bottom: 80px !important;
    }

    .pb100-sp {
        padding-bottom: 100px !important;
    }

}

/* padding-left
---------------------------------------- */
.pl0 {
    padding-left: 0 !important;
}

.pl4 {
    padding-left: 4px !important;
}

.pl6 {
    padding-left: 6px !important;
}

.pl8 {
    padding-left: 8px !important;
}

.pl12 {
    padding-left: 12px !important;
}

.pl16 {
    padding-left: 16px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl24 {
    padding-left: 24px !important;
}

.pl28 {
    padding-left: 28px !important;
}

.pl32 {
    padding-left: 32px !important;
}

.pl36 {
    padding-left: 36px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl44 {
    padding-left: 44px !important;
}

.pl48 {
    padding-left: 48px !important;
}

.pl52 {
    padding-left: 52px !important;
}

.pl56 {
    padding-left: 56px !important;
}

.pl60 {
    padding-left: 60px !important;
}

.pl64 {
    padding-left: 64px !important;
}

.pl68 {
    padding-left: 68px !important;
}

.pl72 {
    padding-left: 72px !important;
}

.pl76 {
    padding-left: 76px !important;
}

.pl80 {
    padding-left: 80px !important;
}

.pl100 {
    padding-left: 100px !important;
}

.pl1e {
    padding-left: 1em !important;
}

@media screen and (max-width: 767px) {

    .pl0-sp {
        padding-left: 0 !important;
    }

    .pl4-sp {
        padding-left: 4px !important;
    }

    .pl8-sp {
        padding-left: 8px !important;
    }

    .pl12-sp {
        padding-left: 12px !important;
    }

    .pl16-sp {
        padding-left: 16px !important;
    }

    .pl20-sp {
        padding-left: 20px !important;
    }

    .pl24-sp {
        padding-left: 24px !important;
    }

    .pl28-sp {
        padding-left: 28px !important;
    }

    .pl32-sp {
        padding-left: 32px !important;
    }

    .pl36-sp {
        padding-left: 36px !important;
    }

    .pl40-sp {
        padding-left: 40px !important;
    }

    .pl44-sp {
        padding-left: 44px !important;
    }

    .pl48-sp {
        padding-left: 48px !important;
    }

    .pl52-sp {
        padding-left: 52px !important;
    }

    .pl56-sp {
        padding-left: 56px !important;
    }

    .pl60-sp {
        padding-left: 60px !important;
    }

    .pl64-sp {
        padding-left: 64px !important;
    }

    .pl68-sp {
        padding-left: 68px !important;
    }

    .pl72-sp {
        padding-left: 72px !important;
    }

    .pl76-sp {
        padding-left: 76px !important;
    }

    .pl80-sp {
        padding-left: 80px !important;
    }

    .pl100-sp {
        padding-left: 100px !important;
    }

}


/* padding-right
---------------------------------------- */
.pr0 {
    padding-right: 0 !important;
}

.pr4 {
    padding-right: 4px !important;
}

.pr8 {
    padding-right: 8px !important;
}

.pr12 {
    padding-right: 12px !important;
}

.pr16 {
    padding-right: 16px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr24 {
    padding-right: 24px !important;
}

.pr28 {
    padding-right: 28px !important;
}

.pr32 {
    padding-right: 32px !important;
}

.pr36 {
    padding-right: 36px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr44 {
    padding-right: 44px !important;
}

.pr48 {
    padding-right: 48px !important;
}

.pr52 {
    padding-right: 52px !important;
}

.pr56 {
    padding-right: 56px !important;
}

.pr60 {
    padding-right: 60px !important;
}

.pr64 {
    padding-right: 64px !important;
}

.pr68 {
    padding-right: 68px !important;
}

.pr72 {
    padding-right: 72px !important;
}

.pr76 {
    padding-right: 76px !important;
}

.pr80 {
    padding-right: 80px !important;
}

.pr100 {
    padding-right: 100px !important;
}

@media screen and (max-width: 767px) {

    .pr0-sp {
        padding-right: 0 !important;
    }

    .pr4-sp {
        padding-right: 4px !important;
    }

    .pr8-sp {
        padding-right: 8px !important;
    }

    .pr12-sp {
        padding-right: 12px !important;
    }

    .pr16-sp {
        padding-right: 16px !important;
    }

    .pr20-sp {
        padding-right: 20px !important;
    }

    .pr24-sp {
        padding-right: 24px !important;
    }

    .pr28-sp {
        padding-right: 28px !important;
    }

    .pr32-sp {
        padding-right: 32px !important;
    }

    .pr36-sp {
        padding-right: 36px !important;
    }

    .pr40-sp {
        padding-right: 40px !important;
    }

    .pr44-sp {
        padding-right: 44px !important;
    }

    .pr48-sp {
        padding-right: 48px !important;
    }

    .pr52-sp {
        padding-right: 52px !important;
    }

    .pr56-sp {
        padding-right: 56px !important;
    }

    .pr60-sp {
        padding-right: 60px !important;
    }

    .pr64-sp {
        padding-right: 64px !important;
    }

    .pr68-sp {
        padding-right: 68px !important;
    }

    .pr72-sp {
        padding-right: 72px !important;
    }

    .pr76-sp {
        padding-right: 76px !important;
    }

    .pr80-sp {
        padding-right: 80px !important;
    }

    .pr100-sp {
        padding-right: 100px !important;
    }

}

/* ----------------------------------------

- margin

---------------------------------------- */

/* margin multi
---------------------------------------- */

.mx {
    margin-right: auto !important;
    margin-left: auto !important;
}


/* margin-top
---------------------------------------- */

.mt0 {
    margin-top: 0 !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt12 {
    margin-top: 12px !important;
}

.mt16 {
    margin-top: 16px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt22 {
    margin-top: 22px !important;
}

.mt24 {
    margin-top: 24px !important;
}

.mt26 {
    margin-top: 26px !important;
}

.mt28 {
    margin-top: 28px !important;
}

.mt32 {
    margin-top: 32px !important;
}

.mt36 {
    margin-top: 36px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt44 {
    margin-top: 44px !important;
}

.mt48 {
    margin-top: 48px !important;
}

.mt52 {
    margin-top: 52px !important;
}

.mt56 {
    margin-top: 56px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt64 {
    margin-top: 64px !important;
}

.mt68 {
    margin-top: 68px !important;
}

.mt72 {
    margin-top: 72px !important;
}

.mt76 {
    margin-top: 76px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mt100 {
    margin-top: 100px !important;
}

.mt120 {
    margin-top: 120px !important;
}

.mt150 {
    margin-top: 150px !important;
}

.mt200 {
    margin-top: 200px !important;
}

.mt250 {
    margin-top: 250px !important;
}

@media screen and (max-width: 767px) {

    .mt0-sp {
        margin-top: 0 !important;
    }

    .mt4-sp {
        margin-top: 4px !important;
    }

    .mt8-sp {
        margin-top: 8px !important;
    }

    .mt12-sp {
        margin-top: 12px !important;
    }

    .mt16-sp {
        margin-top: 16px !important;
    }

    .mt20-sp {
        margin-top: 20px !important;
    }

    .mt24-sp {
        margin-top: 24px !important;
    }

    .mt26-sp {
        margin-top: 26px !important;
    }

    .mt28-sp {
        margin-top: 28px !important;
    }

    .mt32-sp {
        margin-top: 32px !important;
    }

    .mt34-sp {
        margin-top: 34px !important;
    }

    .mt36-sp {
        margin-top: 36px !important;
    }

    .mt40-sp {
        margin-top: 40px !important;
    }

    .mt44-sp {
        margin-top: 44px !important;
    }

    .mt48-sp {
        margin-top: 48px !important;
    }

    .mt50-sp {
        margin-top: 50px !important;
    }

    .mt52-sp {
        margin-top: 52px !important;
    }

    .mt56-sp {
        margin-top: 56px !important;
    }

    .mt60-sp {
        margin-top: 60px !important;
    }

    .mt64-sp {
        margin-top: 64px !important;
    }

    .mt68-sp {
        margin-top: 68px !important;
    }

    .mt72-sp {
        margin-top: 72px !important;
    }

    .mt76-sp {
        margin-top: 76px !important;
    }

    .mt80-sp {
        margin-top: 80px !important;
    }

    .mt100-sp {
        margin-top: 100px !important;
    }

    .mt120-sp {
        margin-top: 120px !important;
    }

    .mt150-sp {
        margin-top: 150px !important;
    }

    .mt200-sp {
        margin-top: 200px !important;
    }

    .mt250-sp {
        margin-top: 250px !important;
    }

}

/* margin-bottom
---------------------------------------- */
.mb0 {
    margin-bottom: 0 !important;
}

.mb4 {
    margin-bottom: 4px !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.mb12 {
    margin-bottom: 12px !important;
}

.mb16 {
    margin-bottom: 16px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb24 {
    margin-bottom: 24px !important;
}

.mb28 {
    margin-bottom: 28px !important;
}

.mb32 {
    margin-bottom: 32px !important;
}

.mb36 {
    margin-bottom: 36px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb44 {
    margin-bottom: 44px !important;
}

.mb48 {
    margin-bottom: 48px !important;
}

.mb52 {
    margin-bottom: 52px !important;
}

.mb54 {
    margin-bottom: 54px !important;
}

.mb56 {
    margin-bottom: 56px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mb64 {
    margin-bottom: 64px !important;
}

.mb68 {
    margin-bottom: 68px !important;
}

.mb72 {
    margin-bottom: 72px !important;
}

.mb76 {
    margin-bottom: 76px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

.mb120 {
    margin-bottom: 120px !important;
}

.mb150 {
    margin-bottom: 150px !important;
}

.mb160 {
    margin-bottom: 160px !important;
}

.mb200 {
    margin-bottom: 200px !important;
}

.mb-80 {
    margin-bottom: -80px !important;
}

@media screen and (max-width: 767px) {

    .mb-20-sp {
        margin-bottom: -20px !important;
    }

    .mb0-sp {
        margin-bottom: 0 !important;
    }

    .mb4-sp {
        margin-bottom: 4px !important;
    }

    .mb8-sp {
        margin-bottom: 8px !important;
    }

    .mb12-sp {
        margin-bottom: 12px !important;
    }

    .mb16-sp {
        margin-bottom: 16px !important;
    }

    .mb20-sp {
        margin-bottom: 20px !important;
    }

    .mb24-sp {
        margin-bottom: 24px !important;
    }

    .mb28-sp {
        margin-bottom: 28px !important;
    }

    .mb32-sp {
        margin-bottom: 32px !important;
    }

    .mb36-sp {
        margin-bottom: 36px !important;
    }

    .mb40-sp {
        margin-bottom: 40px !important;
    }

    .mb44-sp {
        margin-bottom: 44px !important;
    }

    .mb48-sp {
        margin-bottom: 48px !important;
    }

    .mb52-sp {
        margin-bottom: 52px !important;
    }

    .mb56-sp {
        margin-bottom: 56px !important;
    }

    .mb60-sp {
        margin-bottom: 60px !important;
    }

    .mb64-sp {
        margin-bottom: 64px !important;
    }

    .mb68-sp {
        margin-bottom: 68px !important;
    }

    .mb72-sp {
        margin-bottom: 72px !important;
    }

    .mb76-sp {
        margin-bottom: 76px !important;
    }

    .mb80-sp {
        margin-bottom: 80px !important;
    }

    .mb100-sp {
        margin-bottom: 100px !important;
    }

}

/* margin-left
---------------------------------------- */
.ml0 {
    margin-left: 0 !important;
}

.ml4 {
    margin-left: 4px !important;
}

.ml8 {
    margin-left: 8px !important;
}

.ml12 {
    margin-left: 12px !important;
}

.ml16 {
    margin-left: 16px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml24 {
    margin-left: 24px !important;
}

.ml28 {
    margin-left: 28px !important;
}

.ml32 {
    margin-left: 32px !important;
}

.ml36 {
    margin-left: 36px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml44 {
    margin-left: 44px !important;
}

.ml48 {
    margin-left: 48px !important;
}

.ml52 {
    margin-left: 52px !important;
}

.ml56 {
    margin-left: 56px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.ml64 {
    margin-left: 64px !important;
}

.ml68 {
    margin-left: 68px !important;
}

.ml72 {
    margin-left: 72px !important;
}

.ml76 {
    margin-left: 76px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.ml100 {
    margin-left: 100px !important;
}

.ml108 {
    margin-left: 108px !important;
}

@media screen and (max-width: 767px) {

    .ml0-sp {
        margin-left: 0 !important;
    }

    .ml4-sp {
        margin-left: 4px !important;
    }

    .ml8-sp {
        margin-left: 8px !important;
    }

    .ml12-sp {
        margin-left: 12px !important;
    }

    .ml16-sp {
        margin-left: 16px !important;
    }

    .ml20-sp {
        margin-left: 20px !important;
    }

    .ml24-sp {
        margin-left: 24px !important;
    }

    .ml28-sp {
        margin-left: 28px !important;
    }

    .ml32-sp {
        margin-left: 32px !important;
    }

    .ml36-sp {
        margin-left: 36px !important;
    }

    .ml40-sp {
        margin-left: 40px !important;
    }

    .ml44-sp {
        margin-left: 44px !important;
    }

    .ml48-sp {
        margin-left: 48px !important;
    }

    .ml52-sp {
        margin-left: 52px !important;
    }

    .ml56-sp {
        margin-left: 56px !important;
    }

    .ml60-sp {
        margin-left: 60px !important;
    }

    .ml64-sp {
        margin-left: 64px !important;
    }

    .ml68-sp {
        margin-left: 68px !important;
    }

    .ml72-sp {
        margin-left: 72px !important;
    }

    .ml76-sp {
        margin-left: 76px !important;
    }

    .ml80-sp {
        margin-left: 80px !important;
    }

    .ml100-sp {
        margin-left: 100px !important;
    }

}

/* margin-right
---------------------------------------- */
.mr0 {
    margin-right: 0 !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mr8 {
    margin-right: 8px !important;
}

.mr12 {
    margin-right: 12px !important;
}

.mr16 {
    margin-right: 16px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr24 {
    margin-right: 24px !important;
}

.mr28 {
    margin-right: 28px !important;
}

.mr32 {
    margin-right: 32px !important;
}

.mr36 {
    margin-right: 36px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr44 {
    margin-right: 44px !important;
}

.mr48 {
    margin-right: 48px !important;
}

.mr52 {
    margin-right: 52px !important;
}

.mr56 {
    margin-right: 56px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.mr64 {
    margin-right: 64px !important;
}

.mr68 {
    margin-right: 68px !important;
}

.mr72 {
    margin-right: 72px !important;
}

.mr76 {
    margin-right: 76px !important;
}

.mr80 {
    margin-right: 80px !important;
}

.mr100 {
    margin-right: 100px !important;
}

.mr108 {
    margin-right: 108px !important;
}

@media screen and (max-width: 767px) {

    .mr0-sp {
        margin-right: 0 !important;
    }

    .mr4-sp {
        margin-right: 4px !important;
    }

    .mr8-sp {
        margin-right: 8px !important;
    }

    .mr12-sp {
        margin-right: 12px !important;
    }

    .mr16-sp {
        margin-right: 16px !important;
    }

    .mr20-sp {
        margin-right: 20px !important;
    }

    .mr24-sp {
        margin-right: 24px !important;
    }

    .mr28-sp {
        margin-right: 28px !important;
    }

    .mr32-sp {
        margin-right: 32px !important;
    }

    .mr36-sp {
        margin-right: 36px !important;
    }

    .mr40-sp {
        margin-right: 40px !important;
    }

    .mr44-sp {
        margin-right: 44px !important;
    }

    .mr48-sp {
        margin-right: 48px !important;
    }

    .mr52-sp {
        margin-right: 52px !important;
    }

    .mr56-sp {
        margin-right: 56px !important;
    }

    .mr60-sp {
        margin-right: 60px !important;
    }

    .mr64-sp {
        margin-right: 64px !important;
    }

    .mr68-sp {
        margin-right: 68px !important;
    }

    .mr72-sp {
        margin-right: 72px !important;
    }

    .mr76-sp {
        margin-right: 76px !important;
    }

    .mr80-sp {
        margin-right: 80px !important;
    }

    .mr100-sp {
        margin-right: 100px !important;
    }

}




/* ----------------------------------------

- width

---------------------------------------- */


.w100p {
    width: 100% !important;
}

.w40p {
    width: 40% !important;
}

.w50p {
    width: 50% !important;
}

.w60p {
    width: 60% !important;
}

.w70p {
    width: 70% !important;
}

.w75p {
    width: 75% !important;
}

.w80p {
    width: 80% !important;
}

.w85p {
    width: 85% !important;
}

.w90p {
    width: 90% !important;
}

.wauto {
    width: auto !important;
}

.w8 {
    width: 8px !important;
}

.w16 {
    width: 16px !important;
}

.w24 {
    width: 24px !important;
}

.w32 {
    width: 32px !important;
}

.w40 {
    width: 40px !important;
}

.w48 {
    width: 48px !important;
}

.w56 {
    width: 56px !important;
}

.w64 {
    width: 64px !important;
}

.w72 {
    width: 72px !important;
}

.w80 {
    width: 80px !important;
}

.w88 {
    width: 88px !important;
}

.w96 {
    width: 96px !important;
}

.w104 {
    width: 104px !important;
}

.w112 {
    width: 112px !important;
}

.w120 {
    width: 120px !important;
}

.w128 {
    width: 128px !important;
}

.w136 {
    width: 136px !important;
}

.w144 {
    width: 144px !important;
}

.w152 {
    width: 152px !important;
}

.w160 {
    width: 160px !important;
}

.w168 {
    width: 168px !important;
}

.w176 {
    width: 176px !important;
}

.w184 {
    width: 184px !important;
}

.w192 {
    width: 192px !important;
}

.w200 {
    width: 200px !important;
}

.w208 {
    width: 208px !important;
}

.w216 {
    width: 216px !important;
}

.w224 {
    width: 224px !important;
}

.w232 {
    width: 232px !important;
}

.w240 {
    width: 240px !important;
}

.w248 {
    width: 248px !important;
}

.w256 {
    width: 256px !important;
}

.w264 {
    width: 264px !important;
}

.w272 {
    width: 272px !important;
}

.w280 {
    width: 280px !important;
}

.w288 {
    width: 288px !important;
}

.w296 {
    width: 296px !important;
}

.w304 {
    width: 304px !important;
}

.w312 {
    width: 312px !important;
}

.w320 {
    width: 320px !important;
}

.w328 {
    width: 328px !important;
}

.w336 {
    width: 336px !important;
}

.w344 {
    width: 344px !important;
}

.w392 {
    width: 392px !important;
}

.w400 {
    width: 400px !important;
}

.w480 {
    width: 480px !important;
}

.w560 {
    width: 560px !important;
}

.w640 {
    width: 640px !important;
}

.w800 {
    width: 800px !important;
}

.w880 {
    width: 880px !important;
}

.w1200 {
    width: 1200px !important;
}

.w1600 {
    width: 1600px !important;
}

.w2000 {
    width: 2000px !important;
}

@media screen and (max-width: 767px) {
    .w100p-sp {
        width: 100% !important;
    }

    .w50p-sp {
        width: 50% !important;
    }

    .w60p-sp {
        width: 60% !important;
    }

    .w70p-sp {
        width: 70% !important;
    }

    .w75p-sp {
        width: 85% !important;
    }

    .w80p-sp {
        width: 80% !important;
    }

    .w85p-sp {
        width: 85% !important;
    }

    .w90p-sp {
        width: 90% !important;
    }

    .wauto-sp {
        width: auto !important;
    }

    .w8-sp {
        width: 8px !important;
    }

    .w16-sp {
        width: 16px !important;
    }

    .w24-sp {
        width: 24px !important;
    }

    .w32-sp {
        width: 32px !important;
    }

    .w40-sp {
        width: 40px !important;
    }

    .w48-sp {
        width: 48px !important;
    }

    .w56-sp {
        width: 56px !important;
    }

    .w64-sp {
        width: 64px !important;
    }

    .w72-sp {
        width: 72px !important;
    }

    .w80-sp {
        width: 80px !important;
    }

    .w88-sp {
        width: 88px !important;
    }

    .w96-sp {
        width: 96px !important;
    }

    .w104-sp {
        width: 104px !important;
    }

    .w112-sp {
        width: 112px !important;
    }

    .w120-sp {
        width: 120px !important;
    }

    .w128-sp {
        width: 128px !important;
    }

    .w136-sp {
        width: 136px !important;
    }

    .w144-sp {
        width: 144px !important;
    }

    .w152-sp {
        width: 152px !important;
    }

    .w160-sp {
        width: 160px !important;
    }

    .w168-sp {
        width: 168px !important;
    }

    .w176-sp {
        width: 176px !important;
    }

    .w184-sp {
        width: 184px !important;
    }

    .w192-sp {
        width: 192px !important;
    }

    .w200-sp {
        width: 200px !important;
    }

    .w208-sp {
        width: 208px !important;
    }

    .w216-sp {
        width: 216px !important;
    }

    .w224-sp {
        width: 224px !important;
    }

    .w232-sp {
        width: 232px !important;
    }

    .w240-sp {
        width: 240px !important;
    }

    .w248-sp {
        width: 248px !important;
    }

    .w256-sp {
        width: 256px !important;
    }

    .w264-sp {
        width: 264px !important;
    }

    .w272-sp {
        width: 272px !important;
    }

    .w280-sp {
        width: 280px !important;
    }

    .w288-sp {
        width: 288px !important;
    }

    .w296-sp {
        width: 296px !important;
    }

    .w304-sp {
        width: 304px !important;
    }

    .w312-sp {
        width: 312px !important;
    }

    .w320-sp {
        width: 320px !important;
    }

    .w400-sp {
        width: 400px !important;
    }

    .w600-sp {
        width: 600px !important;
    }

    .w800-sp {
        width: 800px !important;
    }

    .w880-sp {
        width: 880px !important;
    }

    .w800-sp {
        width: 800px !important;
    }

    .w880-sp {
        width: 880px !important;
    }

    .w1200-sp {
        width: 1200px !important;
    }
}


/* --------------------------------------------------------------------------------

- min-width

-------------------------------------------------------------------------------- */

.minwInherit {
    min-width: inherit !important;
}

.minw8 {
    min-width: 8px !important;
}

.minw16 {
    min-width: 16px !important;
}

.minw24 {
    min-width: 24px !important;
}

.minw32 {
    min-width: 32px !important;
}

.minw40 {
    min-width: 40px !important;
}

.minw48 {
    min-width: 48px !important;
}

.minw56 {
    min-width: 56px !important;
}

.minw64 {
    min-width: 64px !important;
}

.minw72 {
    min-width: 72px !important;
}

.minw80 {
    min-width: 80px !important;
}

.minw88 {
    min-width: 88px !important;
}

.minw96 {
    min-width: 96px !important;
}

.minw104 {
    min-width: 104px !important;
}

.minw112 {
    min-width: 112px !important;
}

.minw120 {
    min-width: 120px !important;
}

.minw128 {
    min-width: 128px !important;
}

.minw136 {
    min-width: 136px !important;
}

.minw144 {
    min-width: 144px !important;
}

.minw152 {
    min-width: 152px !important;
}

.minw160 {
    min-width: 160px !important;
}

.minw168 {
    min-width: 168px !important;
}

.minw176 {
    min-width: 176px !important;
}

.minw184 {
    min-width: 184px !important;
}

.minw192 {
    min-width: 192px !important;
}

.minw200 {
    min-width: 200px !important;
}

.minw208 {
    min-width: 208px !important;
}

.minw216 {
    min-width: 216px !important;
}

.minw224 {
    min-width: 224px !important;
}

.minw232 {
    min-width: 232px !important;
}

.minw240 {
    min-width: 240px !important;
}

.minw248 {
    min-width: 248px !important;
}

.minw256 {
    min-width: 256px !important;
}

.minw264 {
    min-width: 264px !important;
}

.minw272 {
    min-width: 272px !important;
}

.minw280 {
    min-width: 280px !important;
}

.minw288 {
    min-width: 288px !important;
}

.minw296 {
    min-width: 296px !important;
}

.minw304 {
    min-width: 304px !important;
}

.minw312 {
    min-width: 312px !important;
}

.minw320 {
    min-width: 320px !important;
}

.minw400 {
    min-width: 400px !important;
}

.minw480 {
    min-width: 480px !important;
}

.minw960 {
    min-width: 960px !important;
}

@media screen and (max-width: 767px) {
    .minwInherit-sp {
        min-width: inherit !important;
    }

    .minw8-sp {
        min-width: 8px !important;
    }

    .minw16-sp {
        min-width: 16px !important;
    }

    .minw24-sp {
        min-width: 24px !important;
    }

    .minw32-sp {
        min-width: 32px !important;
    }

    .minw40-sp {
        min-width: 40px !important;
    }

    .minw48-sp {
        min-width: 48px !important;
    }

    .minw56-sp {
        min-width: 56px !important;
    }

    .minw64-sp {
        min-width: 64px !important;
    }

    .minw72-sp {
        min-width: 72px !important;
    }

    .minw80-sp {
        min-width: 80px !important;
    }

    .minw88-sp {
        min-width: 88px !important;
    }

    .minw96-sp {
        min-width: 96px !important;
    }

    .minw104-sp {
        min-width: 104px !important;
    }

    .minw112-sp {
        min-width: 112px !important;
    }

    .minw120-sp {
        min-width: 120px !important;
    }

    .minw128-sp {
        min-width: 128px !important;
    }

    .minw136-sp {
        min-width: 136px !important;
    }

    .minw144-sp {
        min-width: 144px !important;
    }

    .minw152-sp {
        min-width: 152px !important;
    }

    .minw160-sp {
        min-width: 160px !important;
    }

    .minw168-sp {
        min-width: 168px !important;
    }

    .minw176-sp {
        min-width: 176px !important;
    }

    .minw184-sp {
        min-width: 184px !important;
    }

    .minw192-sp {
        min-width: 192px !important;
    }

    .minw200-sp {
        min-width: 200px !important;
    }

    .minw208-sp {
        min-width: 208px !important;
    }

    .minw216-sp {
        min-width: 216px !important;
    }

    .minw224-sp {
        min-width: 224px !important;
    }

    .minw232-sp {
        min-width: 232px !important;
    }

    .minw240-sp {
        min-width: 240px !important;
    }

    .minw248-sp {
        min-width: 248px !important;
    }

    .minw256-sp {
        min-width: 256px !important;
    }

    .minw264-sp {
        min-width: 264px !important;
    }

    .minw272-sp {
        min-width: 272px !important;
    }

    .minw280-sp {
        min-width: 280px !important;
    }

    .minw288-sp {
        min-width: 288px !important;
    }

    .minw296-sp {
        min-width: 296px !important;
    }

    .minw304-sp {
        min-width: 304px !important;
    }

    .minw312-sp {
        min-width: 312px !important;
    }

    .minw320-sp {
        min-width: 320px !important;
    }

    .minw480-sp {
        min-width: 480px !important;
    }
}

/* ----------------------------------------

- height

---------------------------------------- */


.h100p {
    height: 100% !important;
}

.hauto {
    height: auto !important;
}

.h8 {
    height: 8px !important;
}

.h16 {
    height: 16px !important;
}

.h24 {
    height: 24px !important;
}

.h32 {
    height: 32px !important;
}

.h40 {
    height: 40px !important;
}

.h48 {
    height: 48px !important;
}

.h56 {
    height: 56px !important;
}

.h60 {
    height: 60px !important;
}

.h64 {
    height: 64px !important;
}

.h72 {
    height: 72px !important;
}

.h80 {
    height: 80px !important;
}

.h88 {
    height: 88px !important;
}

.h96 {
    height: 96px !important;
}

.h104 {
    height: 104px !important;
}

.h112 {
    height: 112px !important;
}

.h120 {
    height: 120px !important;
}

.h128 {
    height: 128px !important;
}

.h136 {
    height: 136px !important;
}

.h144 {
    height: 144px !important;
}

.h152 {
    height: 152px !important;
}

.h160 {
    height: 160px !important;
}

.h168 {
    height: 168px !important;
}

.h176 {
    height: 176px !important;
}

.h184 {
    height: 184px !important;
}

.h192 {
    height: 192px !important;
}

.h200 {
    height: 200px !important;
}

.h208 {
    height: 208px !important;
}

.h216 {
    height: 216px !important;
}

.h224 {
    height: 224px !important;
}

.h232 {
    height: 232px !important;
}

.h240 {
    height: 240px !important;
}

.h248 {
    height: 248px !important;
}

.h256 {
    height: 256px !important;
}

.h264 {
    height: 264px !important;
}

.h272 {
    height: 272px !important;
}

.h280 {
    height: 280px !important;
}

.h288 {
    height: 288px !important;
}

.h296 {
    height: 296px !important;
}

.h304 {
    height: 304px !important;
}

.h312 {
    height: 312px !important;
}

.h320 {
    height: 320px !important;
}

.h360 {
    height: 360px !important;
}

.h400 {
    height: 400px !important;
}

.h480 {
    height: 400px !important;
}

.h800 {
    height: 800px !important;
}

.h880 {
    height: 880px !important;
}

@media screen and (max-width: 767px) {
    .h100p-sp {
        height: 100% !important;
    }

    .hauto-sp {
        height: auto !important;
    }

    .h8-sp {
        height: 8px !important;
    }

    .h16-sp {
        height: 16px !important;
    }

    .h24-sp {
        height: 24px !important;
    }

    .h32-sp {
        height: 32px !important;
    }

    .h40-sp {
        height: 40px !important;
    }

    .h48-sp {
        height: 48px !important;
    }

    .h56-sp {
        height: 56px !important;
    }

    .h64-sp {
        height: 64px !important;
    }

    .h72-sp {
        height: 72px !important;
    }

    .h80-sp {
        height: 80px !important;
    }

    .h88-sp {
        height: 88px !important;
    }

    .h96-sp {
        height: 96px !important;
    }

    .h104-sp {
        height: 104px !important;
    }

    .h112-sp {
        height: 112px !important;
    }

    .h120-sp {
        height: 120px !important;
    }

    .h128-sp {
        height: 128px !important;
    }

    .h136-sp {
        height: 136px !important;
    }

    .h144-sp {
        height: 144px !important;
    }

    .h152-sp {
        height: 152px !important;
    }

    .h160-sp {
        height: 160px !important;
    }

    .h168-sp {
        height: 168px !important;
    }

    .h176-sp {
        height: 176px !important;
    }

    .h184-sp {
        height: 184px !important;
    }

    .h192-sp {
        height: 192px !important;
    }

    .h200-sp {
        height: 200px !important;
    }

    .h208-sp {
        height: 208px !important;
    }

    .h216-sp {
        height: 216px !important;
    }

    .h224-sp {
        height: 224px !important;
    }

    .h232-sp {
        height: 232px !important;
    }

    .h240-sp {
        height: 240px !important;
    }

    .h248-sp {
        height: 248px !important;
    }

    .h256-sp {
        height: 256px !important;
    }

    .h264-sp {
        height: 264px !important;
    }

    .h272-sp {
        height: 272px !important;
    }

    .h280-sp {
        height: 280px !important;
    }

    .h288-sp {
        height: 288px !important;
    }

    .h296-sp {
        height: 296px !important;
    }

    .h304-sp {
        height: 304px !important;
    }

    .h312-sp {
        height: 312px !important;
    }

    .h320-sp {
        height: 320px !important;
    }

    .h400-sp {
        height: 400px !important;
    }

    .h800-sp {
        height: 800px !important;
    }

    .h880-sp {
        height: 880px !important;
    }

    .h800-sp {
        height: 800px !important;
    }

    .h880-sp {
        height: 880px !important;
    }
}


/* --------------------------------------------------------------------------------

- min-height

-------------------------------------------------------------------------------- */

.minhInherit {
    min-height: inherit !important;
}

.minh8 {
    min-height: 8px !important;
}

.minh16 {
    min-height: 16px !important;
}

.minh24 {
    min-height: 24px !important;
}

.minh32 {
    min-height: 32px !important;
}

.minh40 {
    min-height: 40px !important;
}

.minh48 {
    min-height: 48px !important;
}

.minh56 {
    min-height: 56px !important;
}

.minh64 {
    min-height: 64px !important;
}

.minh72 {
    min-height: 72px !important;
}

.minh80 {
    min-height: 80px !important;
}

.minh88 {
    min-height: 88px !important;
}

.minh96 {
    min-height: 96px !important;
}

.minh104 {
    min-height: 104px !important;
}

.minh112 {
    min-height: 112px !important;
}

.minh120 {
    min-height: 120px !important;
}

.minh128 {
    min-height: 128px !important;
}

.minh136 {
    min-height: 136px !important;
}

.minh144 {
    min-height: 144px !important;
}

.minh152 {
    min-height: 152px !important;
}

.minh160 {
    min-height: 160px !important;
}

.minh168 {
    min-height: 168px !important;
}

.minh176 {
    min-height: 176px !important;
}

.minh184 {
    min-height: 184px !important;
}

.minh192 {
    min-height: 192px !important;
}

.minh200 {
    min-height: 200px !important;
}

.minh208 {
    min-height: 208px !important;
}

.minh216 {
    min-height: 216px !important;
}

.minh224 {
    min-height: 224px !important;
}

.minh232 {
    min-height: 232px !important;
}

.minh240 {
    min-height: 240px !important;
}

.minh248 {
    min-height: 248px !important;
}

.minh256 {
    min-height: 256px !important;
}

.minh264 {
    min-height: 264px !important;
}

.minh272 {
    min-height: 272px !important;
}

.minh280 {
    min-height: 280px !important;
}

.minh288 {
    min-height: 288px !important;
}

.minh296 {
    min-height: 296px !important;
}

.minh304 {
    min-height: 304px !important;
}

.minh312 {
    min-height: 312px !important;
}

.minh320 {
    min-height: 320px !important;
}

.minh360 {
    min-height: 360px !important;
}

.minh400 {
    min-height: 400px !important;
}

.minh416 {
    min-height: 416px !important;
}

.minh440 {
    min-height: 440px !important;
}

.minh480 {
    min-height: 480px !important;
}

.minh960 {
    min-height: 960px !important;
}

@media screen and (max-width: 767px) {
    .minhInherit-sp {
        min-height: inherit !important;
    }

    .minh8-sp {
        min-height: 8px !important;
    }

    .minh16-sp {
        min-height: 16px !important;
    }

    .minh24-sp {
        min-height: 24px !important;
    }

    .minh32-sp {
        min-height: 32px !important;
    }

    .minh40-sp {
        min-height: 40px !important;
    }

    .minh48-sp {
        min-height: 48px !important;
    }

    .minh56-sp {
        min-height: 56px !important;
    }

    .minh64-sp {
        min-height: 64px !important;
    }

    .minh72-sp {
        min-height: 72px !important;
    }

    .minh80-sp {
        min-height: 80px !important;
    }

    .minh88-sp {
        min-height: 88px !important;
    }

    .minh96-sp {
        min-height: 96px !important;
    }

    .minh104-sp {
        min-height: 104px !important;
    }

    .minh112-sp {
        min-height: 112px !important;
    }

    .minh120-sp {
        min-height: 120px !important;
    }

    .minh128-sp {
        min-height: 128px !important;
    }

    .minh136-sp {
        min-height: 136px !important;
    }

    .minh144-sp {
        min-height: 144px !important;
    }

    .minh152-sp {
        min-height: 152px !important;
    }

    .minh160-sp {
        min-height: 160px !important;
    }

    .minh168-sp {
        min-height: 168px !important;
    }

    .minh176-sp {
        min-height: 176px !important;
    }

    .minh184-sp {
        min-height: 184px !important;
    }

    .minh192-sp {
        min-height: 192px !important;
    }

    .minh200-sp {
        min-height: 200px !important;
    }

    .minh208-sp {
        min-height: 208px !important;
    }

    .minh216-sp {
        min-height: 216px !important;
    }

    .minh224-sp {
        min-height: 224px !important;
    }

    .minh232-sp {
        min-height: 232px !important;
    }

    .minh240-sp {
        min-height: 240px !important;
    }

    .minh248-sp {
        min-height: 248px !important;
    }

    .minh256-sp {
        min-height: 256px !important;
    }

    .minh264-sp {
        min-height: 264px !important;
    }

    .minh272-sp {
        min-height: 272px !important;
    }

    .minh280-sp {
        min-height: 280px !important;
    }

    .minh288-sp {
        min-height: 288px !important;
    }

    .minh296-sp {
        min-height: 296px !important;
    }

    .minh304-sp {
        min-height: 304px !important;
    }

    .minh312-sp {
        min-height: 312px !important;
    }

    .minh320-sp {
        min-height: 320px !important;
    }

    .minh480-sp {
        min-height: 480px !important;
    }
}


/* ----------------------------------------

- gap

---------------------------------------- */

.gap0 {
    gap: 0 !important;
}

.gap4 {
    gap: 4px !important;
}

.gap8 {
    gap: 8px !important;
}

.gap12 {
    gap: 12px !important;
}

.gap16 {
    gap: 16px !important;
}

.gap20 {
    gap: 20px !important;
}

.gap24 {
    gap: 24px !important;
}

.gap28 {
    gap: 28px !important;
}

.gap32 {
    gap: 32px !important;
}

.gap36 {
    gap: 36px !important;
}

.gap40 {
    gap: 40px !important;
}

.gap44 {
    gap: 44px !important;
}

.gap48 {
    gap: 48px !important;
}

.gap52 {
    gap: 52px !important;
}

.gap56 {
    gap: 56px !important;
}

.gap60 {
    gap: 60px !important;
}

.gap64 {
    gap: 64px !important;
}

.gap68 {
    gap: 68px !important;
}

.gap72 {
    gap: 72px !important;
}

.gap76 {
    gap: 76px !important;
}

.gap80 {
    gap: 80px !important;
}

.gap100 {
    gap: 100px !important;
}

.gap150 {
    gap: 150px !important;
}

.gap160 {
    gap: 160px !important;
}

.gap200 {
    gap: 200px !important;
}

.gap240 {
    gap: 240px !important;
}

@media screen and (max-width: 767px) {

    .gap0-sp {
        gap: 0 !important;
    }

    .gap4-sp {
        gap: 4px !important;
    }

    .gap8-sp {
        gap: 8px !important;
    }

    .gap12-sp {
        gap: 12px !important;
    }

    .gap16-sp {
        gap: 16px !important;
    }

    .gap20-sp {
        gap: 20px !important;
    }

    .gap24-sp {
        gap: 24px !important;
    }

    .gap28-sp {
        gap: 28px !important;
    }

    .gap32-sp {
        gap: 32px !important;
    }

    .gap36-sp {
        gap: 36px !important;
    }

    .gap40-sp {
        gap: 40px !important;
    }

    .gap44-sp {
        gap: 44px !important;
    }

    .gap48-sp {
        gap: 48px !important;
    }

    .gap52-sp {
        gap: 52px !important;
    }

    .gap56-sp {
        gap: 56px !important;
    }

    .gap60-sp {
        gap: 60px !important;
    }

    .gap64-sp {
        gap: 64px !important;
    }

    .gap68-sp {
        gap: 68px !important;
    }

    .gap72-sp {
        gap: 72px !important;
    }

    .gap76-sp {
        gap: 76px !important;
    }

    .gap80-sp {
        gap: 80px !important;
    }

    .gap100-sp {
        gap: 100px !important;
    }

}